# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
*.egg-info/

# VSCode settings
.vscode/

# Streamlit config and secrets
.streamlit/config.toml
.streamlit/secrets.toml
.streamlit/*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
*.cache
.cache/
.pytest_cache/
